{% extends 'surferhub/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container" style="width: 40rem;">
        <a onClick="javascript:history.go(-1);" class="btn btn-dark" style="margin-top: 15px;">Back</a>
    </div>
    <div class="container" style="width: 40rem;">
        <div class="row">
            <div class="col-md-12" style="margin-top: 15px;">
                <h1>User Profile</h1>
            </div>
        </div>
        <div class="container form-control" style="margin-top: 15px; margin-bottom: 30px;">
            <div class="row">
                <div class="col-md-12 ">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.country.label_tag }} {{ form.country }}
                        </div>
                        <div class="mb-3">
                            {{ form.bio.label_tag }} {{ form.bio }}
                        </div>
                        <div class="mb-3">
                            {{ form.home_spot.label_tag }} {{ form.home_spot }}
                        </div>
                        <div class="mb-3">
                            {{ form.profile_picture.label_tag }} {{ form.profile_picture }}
                        </div>
                        <input class="btn btn-outline-dark my-2" type="submit" value="Submit">
                    </form>
                    <div>
                        <br><h6><a href="{% url 'home' %}" style="color: black">You can skip this step for now, and come back later!</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
